body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/*главная страница */
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #cacaca;
}

.index-big-image {
  background-color: #81b3d2;
  background-image: url("../img/index-background photo.jpg");
  width: 1200px;
  height: 520px;
}

.index-about-sedona  {
  text-align: center;
}

.index-about-sedona b {
  font-size: 21px;
  line-height:21px;
}

.index-about-sedona p {
  font-size: 14px;
  line-height: 26px;
}

.sedona-advantages-item {
  list-style: none;
}

.sedona-advantages-item b {
  font-size: 21px;
  line-height: 21px;
}

.sedona-advantages-item p {
  font-size: 14px;
  line-height: 21px;
}

.blue {
  background-color: #81b3d2;
  color: #ffffff;
}

.grey {
  background-color: #eeeeee;
}

.another {
  background-color: #ffffff;
}

.index-form b {
  font-size: 30px;
  line-height: 36px;
}

.index-form p {
  font-size: 14px;
  line-height: 24px;
}

.index-form span {
  font-size: 21px;
  line-height: 26px;
  background-color: #766357;
  color: #ffffff;
  text-align: center;
}

.index-form span:hover {
  background-color: #604e43;
}

.index-form span:active {
  background-color: #503e33;
  color: #928a85;
}

.index-form label {
  font-weight: bold;
}

.index-form input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
  color: #000000;
  font-weight: bold;
}

.index-form input:hover {
  background-color: #ebebeb;
  color: #000000;
}

.index-form input:focus {
  background-color: #ffffff;
  outline-color: #ebebeb;
  color: #000000;
}

.index-form .button {
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.index-form .button:hover {
  background-color: #669ec0;
}

.index-form .button:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.main-footer {
  background-color: #ffffff;
  color: #000000;
}

.main-footer .footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  text-decoration: underline;
  font-weight: 700;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-social-button {
  background-color: #81b3d2;
  color: #ffffff;
}

.footer-social-button:hover {
  background-color: #669ec0;
}

.footer-social-button:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.footer-logo span {
  font-style: 14px;
  line-height: 26px;
  color: #000000;
}



/*внутренняя страница*/
.inner-filter {
  color: #ffffff;
  background-color: #81b3d2;
  background-image: url("../img/inner-filter-background.jpg");
}

.inner-filter fieldset {
  border: none;
}

.inner-filter ul {
  list-style: none;
  line-height: 21px;
}

.inner-filter-search ul,
.inner-hotels ul {
  list-style: none;
}

.inner-filter legend {
  font-size: 16px;
  line-height: 21px;
}

.inner-filter button {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  background-color: transparent;
  outline: #ffffff;
}

.inner-filter button:hover {
  background-color: #ffffff;
  color: #000000;
  outline: none;
}

.inner-filter-search-list a {
  text-decoration: underline;
  color: #cacaca;
}
.inner-filter-search-list a:active {
  text-decoration: none;
  color: #81b3d2;
}

.inner-hotels-list-item h2:hover {
  color: #81b3d2;
}
.inner-hotels-list-item h2:active {
  color: #cacaca;
}

.detail {
  background-color: #81b3d2;
  color: #ffffff;
}
.detail:hover {
  background-color: #669ec0;
  color: #ffffff;
}
.detail:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.booking {
  background-color: #766357;
  color: #ffffff;
}
.booking:hover {
  background-color: #604e43;
  color: #ffffff;
}
.booking:active {
  background-color: #503e33;
  color: #928a85;
}

.rating {
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}






/* ------------- сетки ------------ */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
/*главная страница index*/
.main-header {
  display: flex;

}
.site-navigation {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
.index-big-image {
  margin-bottom: 65px;
}
.index-about-sedona b {
  width: 450px;
  margin-bottom: 30px;
}
.index-about-sedona p {
  margin-bottom: 57px;
}
.sedona-advantages-line-1 {
  display: flex;
  height: 255px;
}
.sedona-advantages-line-image {
  width: 800px;
}
.sedona-advantages-line-2 {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 320px;
}
.sedona-advantages-item .another {
  width: 400px;
}
.sedona-advantages-line-3 {
  display: flex;
  height: 255px;
}
.sedona-advantages-line-4 {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 320px;
  margin-bottom: 55px;
}
.index-form b {
  width: 400px;
  margin-bottom: 27px;
}
.index-form p {
  width: 450px;
  height: 50px;
}
.index-form span {
  display: block;
  width: 568px;
  height: 85px;
}
.sedona-form {
  width: 568px;
  height: 356px;
}
.sedona-form button {
  width: 458px;
  height: 58px;
}
.main-footer .container{
  display: flex;
  margin-top: 35px;
  justify-content: space-around;
}
.footer-hashtag {
  width: 240px;
}
.footer-social {
  width: 400px;
  margin: 0;
}
.footer-logo {
  width: 240px;
}
